.admin {
    padding-top: 25px;
}

.admin h1 {
    color: rgb(79, 15, 15);
}

.admin .prods,
.admin .cpns {
    border: 1px solid #1d2174;
    border-radius: 4px;
    background-color: #275958;
    padding: 20px;
    text-align: left;
}

.admin h5 {
    text-align: center;
}

.admin label {
    margin-top: 15px;
}

.admin .parent {
    display: flex;
    justify-content: space-around;

}

.admin .prods {
    width: 500px;
}

.admin .cpns {
    width: 500px;
}

.admin .controls {
    margin-top: 12px;
    text-align: center;
}