

.cart {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.cart h1 {
    color: coral;
    text-align: center;
    margin-bottom: 10px;
}

.cart .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 20px;
}

.cart .product {
    flex: 3;
}

.cart .size-menu {
    flex: 1;
}
.cart .prod-in-cart{
    display: flex;
    align-items: center;
    border: 1px soliid #6a6a6a;
    background-color: white;
    margin-bottom: 12px;  
}
 .cart .product-in-cart img {
    height: 80px;;
 }

 .cart .product-in-cart h5{
    flex: 3;
 }

 .cart .prod-in-cart label{
     flex: 1;
 }

 .cart .side-menu{
        padding-top: 20px;
 }

 .cart .side-menu button{
     color: #6a6a6a;
     margin-top: 40px;
 }





