.footer{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    bottom: auto;
    align-items: center;
    height: 60px;
    color:midnightblue;
    background-color:cadetblue;

}