
.home {
    position:relative
}

.home h1 {
    color:darkgreen(139, 0, 100);
    text-align: center;
}

.home img {
    width: 600px;
    
}

.home info {
    position: absolute;
    top: 40%;
    right: 17%;
    width: 800px;
    border:darkkhaki;
    border-radius: 12px;
    padding: 15px;
    background-color:hotpink;
}