.navbar-menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background-color: rgb(136, 29, 120);
    border: #002244;
}

a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(96, 110, 25);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 20px;
    border: #66003f;
    border-color:darkgreen;
}


a:hover{
    color: rgb(81, 25, 73);
    font-size: 18px;
    text-decoration: underline;
    
}

.navbar-menu .title {
    font-weight: bolder;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 60;


    animation: neon 1s ease infinite;
}

.navbar-menu .end {
    margin-left: auto;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #af9022, 0 0 20px #00a2ff, 0 0 20px #00a2ff, 0 0 20px #00a2ff, 0 0 2px #33ccff, 2px 2px 2px #1a3d66;
        color: #ffcce9;
    }
    50% {
        text-shadow: 0 0 2px #66003f, 0 0 5px #003366, 0 0 5px #003366, 0 0 5px #003366, 0 0 2px #0066cc, 4px 4px 2px #002244;
        color: #8c642d;
    }
}