.navbar-menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background-color: rgb(29, 104, 136);
}

a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(23, 146, 111);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 20px;
}


a:hover{
    color: rgb(255, 0, 128);
    font-size: 18px;
    text-decoration: underline;
    
}

.navbar-menu .title {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 20;


animation: neon 1s ease infinite;


}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #00a2ff, 0 0 20px #00a2ff, 0 0 20px #00a2ff, 0 0 20px #00a2ff, 0 0 2px #33ccff, 2px 2px 2px #1a3d66;
        color: #cceeff;
    }
    50% {
        text-shadow: 0 0 2px #003366, 0 0 5px #003366, 0 0 5px #003366, 0 0 5px #003366, 0 0 2px #0066cc, 4px 4px 2px #002244;
        color: #99d6ff;
    }
}