
.product {
    border:black;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 10px; 
    background-color:lightgrey;


    width: 200px;
    height: 250px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.product h4 {
    color: rgb(34, 12, 12);
    text-align: center;
}

.product img {
    width: 100px;
    height: 120px;
}

.product .prices {
    display: flex;
    justify-content: space-around;
}

.product .prices .total {
    font-size: 19px;
    font-weight: 600;
    color: #4c3143;
}

.produce .price .price {
    color:#686262;
}
 
.product i {
    color: #4c3143;
    font-size: 20px;
    color:white !important;
    cursor: pointer;
}